body {
    margin: 0;
    font-family: 'Roboto', Arial;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
}

body.show {
    opacity: 1;
}

#container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.flex {
    flex: 1;
}

.center-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.side-container {
    display: flex;
    flex-direction: column;
}

.big-textfield {
    margin: auto;
    transform: scale(1.6);
    max-width: calc((50vw - 32px) / 1.6);
}

.mdl-textfield__input {
    font-family: 'Roboto', Arial;
    color: rgb(220, 220, 220);
}

#choice-container {
    padding: 8px;
}

.mdl-radio {
    margin: 8px;
    color: rgb(200, 200, 200);
}

.mdl-radio__label {
    font-size: 18px;
}

#dls-limit-textfield {
    width: 0;
    padding: 0;
    transform: scale(1.2);
}

#dls-limit-textfield-break {
    display: none;
}

#dls-rec-label.is-checked {
    display: block;
}

#dls-rec-label.is-checked #dls-limit-textfield {
    margin-left: 20px;
    width: 180px;
    padding: 20px 0;
}

#dls-rec-label.is-checked #dls-limit-textfield-break {
    display: block;
}

#change-button-container, #current-file-name-container {
    height: 60px;
}

#current-file-name {
    margin: auto;
    font-size: 18px;
    color: white;
}

#log {
    white-space: pre-wrap;
    overflow-y: auto;
    max-width: 50vw;
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Consolas', monospace;
}

#change-button {
    margin: auto;
    color: rgb(220, 220, 220);
    font-size: 16px;
}

#search-button {
    position: fixed;
    right: 32px;
    bottom: 32px;
}

#dialog {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 41;
}

#dialog-inner {
    margin: auto;
    min-height: 0;
    width: auto;
}

#file-input {
    font-family: 'Roboto', Arial;
    font-size: 18px;
    margin-bottom: 16px;
}

#dialog-buttons {
    text-align: right;
}

#file-input-ok {
    font-size: 16px;
}

#snackbar {
    font-size: 18px;
    line-height: 24px;
    z-index: 42;
}